/* ----- Input field general ----- */

.Component {
  padding:          4px 8px;
  background-color: white;
  border:           1px solid black;
  border-radius:    4px;
  transition:       box-shadow 200ms ease-in-out;
  user-select:      none;
}

.Component:focus {
  outline: none;
}

.Component[data-focus="true"][data-disabled="false"] {
  border: 1px solid Highlight;
}

.Component[data-hover="true"][data-disabled="false"] {
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.04) inset;
  cursor:     pointer;
}

.Component[data-active="true"][data-disabled="false"] {
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.1) inset;
}

.Component[data-disabled="true"] {
  color:  dimgray;
  border: 1px solid dimgray;
}
