:root .Component {
  --icon: " ";
}

/* ----- Input field general ----- */

.Component:global(.button) {
  display:          flex;
  flex:             0 0 auto;
  flex-flow:        row;
  align-self:       flex-start;
  grid-column-gap:  5px;
  box-sizing:       border-box;
  position:         relative;
  padding:          4px 8px;
  background-color: white;
  border:           1px solid black;
  border-radius:    4px;
  transition:       box-shadow 200ms ease-in-out;
}

.Component:global(.button:focus) {
  outline: none;
}

.Component:global(.button[data-focus="true"][data-disabled="false"]) {
  border: 1px solid Highlight;
}

.Component:global(.button[data-hover="true"][data-disabled="false"]) {
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.04) inset;
  cursor:     pointer;
}

.Component:global(.button[data-active="true"][data-disabled="false"]) {
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.1) inset;
}

.Component:global(.button[data-disabled="true"]) {
  color:  dimgray;
  border: 1px solid dimgray;
}

.Component:global(.button .button-icon) {
  display:    flex;
  flex-flow:  column;
  box-sizing: border-box;
  position:   relative;
}

.Component:global(.button .button-icon::before) {
  content: var(--icon);
}

.Component:global(.button .button-content) {
  display:     flex;
  flex:        1 1 auto;
  align-items: center;
  box-sizing:  border-box;
  position:    relative;
  user-select: none;
}


