/* ----- Input field general ----- */

.Component {
  padding:          4px 8px;
  background-color: white;
  border:           1px solid black;
  border-radius:    4px;
  user-select:      none;
  position:         relative;
  box-shadow:       0 0 0 0 transparent inset;
}

.Component :global(> *) {
  position: relative;
  z-index:  0;
}

.Component:focus {
  outline: none;
}

.Component[data-disabled="false"]:hover {
  cursor: pointer;
}

.Component::before,
.Component::after {
  content:  " ";
  position: absolute;
  inset:    0;
}

.Component::after {
  z-index:    -1;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0 0 3px 0 transparent;
}

.Component::before {
  z-index:          0;
  background-color: transparent;
  transition:       background-color 200ms ease-in-out;
}

.Component[data-focus="true"][data-disabled="false"]::after {
  box-shadow: 0 0 3px 0 Highlight;
}

.Component[data-hover="true"][data-disabled="false"]::before {
  background-color: rgba(0, 0, 0, 0.01);
}

.Component[data-hover="true"][data-active="true"][data-disabled="false"]::before {
  background-color: rgba(0, 0, 0, 0.04);
}

.Component[data-disabled="true"] {
  color:  dimgray;
  border: 1px solid dimgray;
}
